<!doctype html>
<html>
    <head>
        <title>PROJETO MIRANTE</title>
        <base href="/" />
        <link href="css/angular-bootstrap.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <style type="text/css">
            [ng\:cloak], [ng-cloak], .ng-cloak {
                display: none !important;
            }
        </style>
    </head>

    <body ng-app="hello" ng-controller="navigation as nav" ng-cloak class="ng-cloak">

        <div class="borda logo alert-success text-center">
            <p>PROJETO MIRANTE</p>
        </div>

        <div class="col-lg-12 borda">
            <ul class="  nav nav-pills pull-right title-20"  role="tablisr">
                <li  ng-class="{active:nav.tab('inicio')}"><a  href="/">INÍCIO</a></li>

                
                <li class="nav-item dropdown" ng-class="{active:nav.tab('operador')}">

                    <a ng-if="operador.perfil == 'Administrador'"
                    class="nav-link dropdown-toggle"  href="/operadores"
                    id="operadores" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false"> OPERADORES</a>

                    <div 
                        class="navbar-collapse dropdown-menu" aria-labelledby="operadores">
                        <a  class="dropdown-item text-center" href="/novo-operador">
                            Cadastrar Operador</a>
                    </div>    

                </li>

                <li class="nav-item dropdown" ng-class="{active:nav.tab('pessoa')}">

                    <a ng-if="operador.perfil !== 'Administrador'"
                    class="nav-link dropdown-toggle"  href="/pessoas"
                    id="pessoas" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false"> PESSOAS</a>

                    <div ng-if="operador.perfil == 'Gerente'"
                        class="navbar-collapse dropdown-menu" aria-labelledby="pessoas">
                        <a  class="dropdown-item" href="/nova-pessoa">
                            Cadastrar Pessoa</a>
                    </div>    

                </li>

            </ul>

        </div>

        <div ng-view=""></div>

        <script src="js/angular-bootstrap.js" type="text/javascript"></script>
        <script src="js/navigation/navigation.js" type="text/javascript"></script>
        <script src="js/auth/auth.js" type="text/javascript"></script>
        <script src="js/pessoas/pessoas.js" type="text/javascript"></script>
        <script src="js/operadores/operadores.js" type="text/javascript"></script>
        <script src="js/inicio/inicio.js" type="text/javascript"></script>
        <script src="js/hello.js" type="text/javascript"></script>

    </body>

</html>