<div class="margin-page">

    <div class="col-lg-7">
        <h4>PESSOAS CADASTRADAS</h4>
        <hr/>

        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Documento</th>
                <th scope="col">Tipo</th>
                <th scope="col">Data de Cadastro</th>
                <th scope="col">Operador</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="p in pessoas">
                <td>{{p.nome}}</td>
                <td>{{p.documento}}</td>
                <td>{{p.tipoPessoa}}</td>
                <td>{{p.dataCadastro | date:'dd/MM/yyyy'}}</td>
                <td>{{p.operador.nome}}</td>
                <td>
                    <input type="button" class="btn btn-warning" value="Detalhe" ng-click="selecionarPessoa(p)"  />
                </td>
              </tr>
            </tbody>
          </table>    

    </div>

    <div ng-show="mostrarDetalhe" class="col-lg-5">

        <div ng-show="mostrarSalvarTelefone">

            <h4>ADICIONAR TELEFONE</h4>
            <hr/>

            <div class="panel panel-body borda">

                <form role="form" ng-submit="salvarTelefone(telefone)">
                    
                    <label>DDD:</label>
                    <input ng-model="telefone.ddd" type="text" name="ddd" required="true" class="form-control">

                    <label>Número:</label>
                    <input ng-model="telefone.numero" type="text" name="numero" required="true" class="form-control">

                    <label>Tipo:</label>
                    <select ng-model="telefone.tipoTelefone"  name="tipoTelefone" id="tipoTelefone"  required="true" class="form-control title-15">
                        <option ng-repeat="tp in tiposTelefone">{{tp}}</option>
                    </select>

                    <br>

                    <div class="btn-s text-center form-group">
                        <input ng-click="toggleSalvarTelefone()" type="button" value="CANCELAR" class="btn btn-danger">
                        <input type="submit" value="SALVAR" class="btn btn-primary">
                    </div>
                                   
                </form>

            </div>

        </div>

        <div ng-show="mostrarEditarTelefone">

            <h4>EDITAR TELEFONE</h4>
            <hr/>

            <div class="panel panel-body borda">

                <form role="form" ng-submit="editarTelefone(telefone)">
                    
                    <label>DDD:</label>
                    <input ng-model="telefone.ddd" type="text" name="ddd" required="true" class="form-control">

                    <label>Número:</label>
                    <input ng-model="telefone.numero" type="text" name="numero" required="true" class="form-control">

                    <label>Tipo:</label>
                    <select ng-model="telefone.tipoTelefone"  name="perfis" id="perfis"  required="true" class="form-control title-15">
                        <option ng-repeat="tp in tiposTelefone">{{tp}}</option>
                    </select>

                    <br>

                    <div class="btn-s text-center form-group">
                        <input ng-click="toggleEditarTelefone()" type="button" value="CANCELAR" class="btn btn-danger">
                        <input type="submit" value="SALVAR" class="btn btn-primary">
                    </div>      
                </form>

            </div>

        </div>

        <h4>INFORMAÇÕES PESSOAIS</h4>
        <hr/>

        <div class="text-center bold-17">
            <p>{{pessoa.nome}}</p>
            <p>{{pessoa.documento}}</p>
            <p>{{pessoa.dataNascimento | date:'dd/MM/yyyy'}}</p>
        </div>

        <div ng-if="operador.perfil == 'Analista'" class="pull-right">
            <input type="button" class="btn btn-primary" value="+ Telefone" ng-click="toggleSalvarTelefone()"  />
        </div>

        <table class="table">
     
            <tbody>

                <tr ng-repeat="t in telefones">
                    <th>{{t.tipoTelefone}}</th>
                    <td>({{t.ddd}}) {{t.numero}}</td>
                    <td>{{t.dataCadastro | date:'dd/MM/yyyy'}}</td>
                    <td>{{t.operador.nome}}</td>
                    <td ng-if="operador.perfil == 'Analista'"> 
                        <input type="button" class="btn btn-default text-center" value="Editar" ng-click="selecionarTelefone(t)"  />
                    </td>

                </tr>

            </tbody>

        </table>   

    </div>

  
</div>



