<div class="margin-page">

    <div class="col-lg-6">
        <h4>OPERADORES CADASTRADOS</h4>
        <hr/>

        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">Perfil</th>
                <th scope="col">Ativo</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="o in operadores">
                <th scope="row">{{o.id}}</th>
                <td>{{o.nome}}</td>
                <td>{{o.login}}</td>
                <td>{{o.perfil}}</td>
                <td>{{o.ativo}}</td>
                <td>
                    <input type="button" class="btn btn-success" value="Editar" ng-click="selecionar(o)"  />
                </td>
              </tr>
            </tbody>
          </table>    

    </div>

    <div ng-show="mostrarEditar" class="col-lg-6">
        <h4>EDITAR OPERADOR</h4>
        <hr/>

        <div class="panel panel-default">

            <div class="panel-body borda">

                <form role="form" ng-submit="editarOperador(operador)">
                    
                    <label>Nome:</label>
                    <input ng-model="operador.nome" type="text" name="login" required="true" class="form-control">

                    <label>LogIn:</label>
                    <input ng-model="operador.login" type="text" name="login" required="true" class="form-control">

                    <label>Selecionar Perfil:</label>
                    <select ng-model="operador.perfil"  name="perfis" id="perfis"  required="true" class="form-control title-15">
                        <option ng-repeat="p in perfis">{{p}}</option>
                    </select>

                    <br>

                    <label>Status:</label>
                    <input ng-model="operador.ativo" type="radio" value="true" name="ativo" required="true">
                    <label>Ativo</label>
                    <input ng-model="operador.ativo" type="radio" value="false" name="ativo" required="true">
                    <label>Inativo</label>

                    <hr/>

                    <div class="btn-s text-center">
                        <input type="submit" value="SALVAR" class="btn btn-primary">
                    </div>
                                   
                </form>

            </div>

        </div>

    </div>

  
</div>



